h1 {
  color: #000;
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
  font-family: monospace;
}


nav {
  display: flex;
  justify-content: center;
}


.footer nav ul li {
  list-style: none;
  display: block;
  padding: 3px 60px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 800;
  border: 1px solid red;
}

.footer {
  display: flex;
  justify-content: center;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}


/*  NAVBAR CSSS  */


ul.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}



@import url(https://fonts.googleapis.com/css?family=Raleway);

h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #5ff10d, #FFF);
  color: #FFF;
  height: 60px;
  padding: 1em;
}

ul.menu li {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 3.5px 20px 5px 20px;
  text-align: justify;
}


a.home:hover {
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 2px -3px 1px 0px;
  transition: 2s;
  color: #fff;
}

ul.menu li:hover {
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 2px -3px 1px 0px;
  transition: 2s;
  color: #fff;
}

.home {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: justify;
  padding: 6px;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

td img{
  width: 100%;
}

.menu>li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 770px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 65px;
    z-index: 9;
    left: 0;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


/* CLIENT SECTION */


.owl-nav {
  position: absolute;
  bottom: 50%;
  width: 100%;
}
.owl-prev {
  display:block;
  float: left;
  margin-left: -50px;
  width: 50px;
  height: 50px;
}
.owl-next {
  float:right;
  margin-right: -50px;
  display:block;
  height: 50px;
  width: 50px;
}

.card-title { color: #18abd0; }

.card-img-top img { max-height: 70px; max-width: 70px; margin: auto; }


  /*  FORM CSS   */


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
  }

  body {
    background: #fff;
  }

  .wrapper {
    margin: auto;
    display: block;
    max-width: 600px;
    width: 100%;
    background: #70d538;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgb(144 173 111);
  }

  .wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
  }

  .wrapper .input_field {
    margin-bottom: 10px;
  }

  .wrapper .input_field input[type="text"],
  .wrapper textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;

    border-radius: 8px;
  }

  .wrapper .input_field input[type="password"],
  .wrapper textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;

    border-radius: 8px;
  }

  .wrapper textarea {
    resize: none;
    height: 80px;
  }


  .wrapper .btn input[type="submit"] {
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    /* text-align: center; */
    min-width: 202px;
    width: 100%;
    background: #fff;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }


  #error_message {
    margin-bottom: 20px;
    background: #f50a10;
    padding: 0px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    transition: all 0.5s ease;
    border-radius: 10px;
  }



  input[type="radio"] {
    background: red !important;
    width: 25px;
    height: 16px;
    position: relative;
    top: 2px;
  }

  .input_field span {
    color: #fff;
    font-weight: 700;
  }




  /*---------footer---------*/
  footer {
    background-image: linear-gradient(to bottom, #5bdb15, #70f226);
    color: #fff;
    padding: 35px 0;
    font-size: 17px;
  }

  footer h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  footer h4 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 2px;
  }

  .about-footer li i {
    position: absolute;
    left: 0;
  }

  .about-footer li {
    padding-left: 40px;
    position: relative;
    margin-bottom: 40px;
  }

  .about-footer ul {
    margin-top: 40px;
  }

  footer a {
    color: #fff;
  }

  footer a:hover {
    color: #ed1b24;
  }

  .footer-title {
    border-bottom: 2px solid #fff;
    padding-bottom: 25px;
    margin-bottom: 35px;
  }

  ul.footer-social {
    float: right;
  }

  ul.footer-social li {
    display: inline;
    margin-right: 16px;
  }

  ul.footer-social i {
    width: 30px;
    height: 30px;
    background: #fff;
    color: #222025;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    font-size: 16px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: 800;
  }

  ul.footer-social li:last-child {
    margin-right: 0px;
  }

  ul.footer-social i:hover {
    background: #ed1b24;
    color: #fff;
  }

  .page-more-info li {
    margin-bottom: 31px;
  }

  footer .table td:first-child {
    font-weight: 600;
    padding-left: 33px;
  }

  footer .table td:last-child {
    text-align: right;
  }

  footer .table td {
    padding: 0px;
    border: 0;
  }

  footer .table tr {}

  footer .table td i {
    position: absolute;
    left: 0px;
    font-size: 21px;
    top: 6px;
  }

  footer .table td {
    position: relative;
    padding: 4px 0;
  }

  .footer-logo td {
    padding-right: 4px !important;
  }

  .footer-logo td:last-child {
    padding-right: 0px !important;
  }

  footer hr {
    border-color: #9294a0;
  }

  .footer-bottom p {
    text-align: right;
  }

  .footer-bottom {
    margin-top: 30px;
  }

  .open-hours hr {
    margin: 30px 0;
  }