<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
 
    

    {{>header}}
</head>

<body>

    {{>navbar}}

    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/la.jpg" alt="Los Angeles" class="d-block" style="width:100%">
                <div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>We had such a great time in LA!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/chicago.jpg" alt="Chicago" class="d-block" style="width:100%">
                <div class="carousel-caption">
                    <h3>Chicago</h3>
                    <p>Thank you, Chicago!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/ny.jpg" alt="New York" class="d-block" style="width:100%">
                <div class="carousel-caption">
                    <h3>New York</h3>
                    <p>We love the Big Apple!</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <div class="container pt-5">
<h1 class="h2 mb-4" style="font-weight: 600;">Your Headline <span style="color: #6ff025;font-size:40px">Here!</span></h1>
    </div>


    {{!-- <div class="container mt-3">
        <h2>Emial Registration form</h2>
        <form action="/register" method="POST">
            <div class="row">
                <div class="col-6">
                    <input type="text" class="form-control" placeholder=" first name" name="firstname" value=""
                        required>
                </div>

                <div class="col-6">
                    <input type="text" class="form-control" placeholder="last name" name="lastname" value="" required>
                </div>
                <div class="col-6">
                    <input type="email" class="form-control" placeholder="email" name="email"="" value="" required>
                </div>

                <div class="col-6">
                    <input type="radio" placeholder="male" value="male" name="gender" required> Male

                    <input type="radio" placeholder="female" value="Female" name="gender" required>Female
                </div>

                <div class="col-6">
                    <input type="text" class="form-control" placeholder="Age" min="18" max="60" name="age" value=""
                        required>
                </div>

                <div class="col-6">
                    <input type="text" class="form-control" placeholder="Phone NO" name="phone" min="10" max="10"
                        required>
                </div>

                <div class="col-6">
                    <input type="password" class="form-control" placeholder="pswd" name="password" value="" required>


                </div>

                <div class="col-6">
                    <input type="password" class="form-control" placeholder="Confirm password" name="confirmpassword">
                </div>

                <div class="col-12">
                    <input type="submit" value="Register" id="">
                </div>
            </div>
        </form>
    </div> --}}


 <div class="container my-5">
   <div class="row">
     <div class="col-md-6 p-4 p-sm-5 order-2 order-sm-1">
       <small class="text-uppercase" style="color: #6ff025;">About us</small>
       <h1 class="h2 mb-4" style="font-weight: 600;">Your Headline <span style="color: #6ff025;">Here</span></h1>
       <p class="text-secondary" style="line-height: 2;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat iure laboriosam cum voluptatum, nam minima deserunt aut? Distinctio voluptatibus dolor quaerat quo omnis illo sequi at velit, odit quod!</p>
       <a href="#" style="background-color: #6ff025; width: 240px;" class="btn px-4 py-3 mt-4 text-white d-flex align-items-center justify-content-between">
        <span>Download Profile</span>
        <svg width="25px" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
        <g>
          <g>
            <path d="M329.2,327.2c-4.5,0-8.1,3.4-8.6,7.9c-3.9,38.6-36.5,68.7-76.2,68.7c-39.6,0-72.2-30.1-76.2-68.7
              c-0.5-4.4-4.1-7.9-8.6-7.9h-104c-21.8,0-39.5,17.7-39.5,39.5v82.8c0,21.8,17.7,39.5,39.5,39.5h377.8c21.8,0,39.5-17.7,39.5-39.5
              v-82.7c0-21.8-17.7-39.5-39.5-39.5H329.2V327.2z"/>
            <path d="M303.5,198.6l-30.9,30.9V28.1C272.6,12.6,260,0,244.5,0l0,0c-15.5,0-28.1,12.6-28.1,28.1v201.4l-30.9-30.9
              c-9.5-9.5-24.7-11.9-35.9-4.4c-15.3,10.2-16.8,31.1-4.5,43.4l82.8,82.8c9.2,9.2,24.1,9.2,33.3,0l82.8-82.8
              c12.3-12.3,10.8-33.2-4.5-43.4C328.2,186.6,313,189,303.5,198.6z"/>
          </g>
        </svg>
      </a>
     </div>
     <div class="col-md-6 p-0 text-center order-1 order-sm-2">
        <img src="https://images.pexels.com/photos/3184430/pexels-photo-3184430.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="w-100" alt="">
     </div>

    <div class="col-md-6 p-0 text-center">
       <img src="https://images.pexels.com/photos/2467506/pexels-photo-2467506.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="w-100" alt="">
    </div>
    <div class="col-md-6 p-4 p-sm-5">
      <small class="text-uppercase" style="color: #6ff025;">About us</small>
      <h1 class="h2 mb-4" style="font-weight: 600;">Your Headline <span style="color: #6ff025;">Here!</span></h1>
      <p class="text-secondary" style="line-height: 2;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat iure laboriosam cum voluptatum, nam minima deserunt aut? Distinctio voluptatibus dolor quaerat quo omnis illo sequi at velit, odit quod!</p>
      <a href="#" style="background-color: #6ff025; width: 240px;" class="btn px-4 py-3 mt-4 text-white d-flex align-items-center justify-content-between">
        <span>Our Mission</span>
        <svg width="25px" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
        <g>
          <g>
            <path d="M329.2,327.2c-4.5,0-8.1,3.4-8.6,7.9c-3.9,38.6-36.5,68.7-76.2,68.7c-39.6,0-72.2-30.1-76.2-68.7
              c-0.5-4.4-4.1-7.9-8.6-7.9h-104c-21.8,0-39.5,17.7-39.5,39.5v82.8c0,21.8,17.7,39.5,39.5,39.5h377.8c21.8,0,39.5-17.7,39.5-39.5
              v-82.7c0-21.8-17.7-39.5-39.5-39.5H329.2V327.2z"/>
            <path d="M303.5,198.6l-30.9,30.9V28.1C272.6,12.6,260,0,244.5,0l0,0c-15.5,0-28.1,12.6-28.1,28.1v201.4l-30.9-30.9
              c-9.5-9.5-24.7-11.9-35.9-4.4c-15.3,10.2-16.8,31.1-4.5,43.4l82.8,82.8c9.2,9.2,24.1,9.2,33.3,0l82.8-82.8
              c12.3-12.3,10.8-33.2-4.5-43.4C328.2,186.6,313,189,303.5,198.6z"/>
          </g>
        </svg>
      </a>
    </div>
   </div>
 </div>



  
    {{>footer}}


</body>

</html>