<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   {{>header}} 
</script>

</head>

<body>

    {{>navbar}}


   <div class="containers boody">
        <div class="title">Login Page</div>
        <form action="/register" method="post">
            <div class="user-details">
              
                
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" name="" id="" placeholder="Enter your email" required />
                </div>
               
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" name="password" id="" placeholder="Enter your password" required />
                </div>
              
            </div>

           

            <div class="button">
                <input type="submit" value="Login" />
            </div>
        </form>
    </div>



    {{>footer}}



</body>

</html>